:root {
	--color-white: #ffffff;
	--color-dark-white: #f9f9f9;
	--color-lighter-gray: #dddddd;
	--color-light-gray: #b7b7b7;
	--color-gray: #adacac;
	--color-dark-gray: #848484;
	--color-darker-gray: #656565;
	--color-blue: #0265f9;
	--color-red: #e95555;

	--font-nanum-light: "nanum_light";
	--font-nanum-regular: "nanum_regular";
	--font-nanum-bold: "nanum_bold";
	--font-nanum-black: "nanum_black";
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--color-darker-gray);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
